:root {
  --font-size-lg: 2.25rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1.125rem;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('/font/Arial-Narrow-Bold.ttf');
  font-weight: bold;
}

body {
  font-family: 'Arial Narrow', Arial;
  font-size: var(--font-size-sm);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.0625rem;
}

main {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

h1 {
  font-size: var(--font-size-lg);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-lg);
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

button {
  background: none;
  border: none;
}

.button {
  background-color: #000;
  font-size: var(--font-size-md);
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 0.375rem 1.25rem;
}

.button:disabled {
  background-color: #9a9a9a;
}

.button:disabled,
.input:disabled {
  cursor: not-allowed;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.125rem solid #000;
  padding: 0.25rem 0.5rem;
}

.input {
  width: 3.75rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.input:focus-visible {
  outline: none;
}

@media screen and (max-width: 34em) {
  :root {
    --font-size-lg: 1.75rem;
  }
}
